.login{
    height: 100vh;
    width: 100%;
    background-color: #efffff5e;
    z-index: 9;
    position: relative;
}
.maiv-div-box {
    display: flex;
    gap: 25px;
    margin: 110px 30px 30px;
    height: calc(100vh - 140px);
}
.section img{
    margin-left: -13px !important;
}
.sidebar{
  width: 300px;
  height: calc(100vh - 141px);
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #e4f1ff;
  box-shadow: 0  0 10px #a4d1ff81;
  padding: 30px;
  color: #00204e;
  overflow-y: auto;
}
img.card-img-top{
    height: calc(100vh - 600px);
    object-fit: contain;
}
.sidebar::-webkit-scrollbar, .db-content-display::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
    display: none;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar-track, .db-content-display::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
.sidebar::-webkit-scrollbar-thumb, .db-content-display::-webkit-scrollbar-thumb {
    background-color: #00204e;
  }
.card-body img{
    margin:5px;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    color: #00204e;
}
/* .sidebar .logo:before {
    content: "";
    clip-path: polygon(0 55%, 75% 0%, 100% 50%, 48% 100%, 51% 51%);
    width: 30px;
    height: 30px;
    background: #00204e;
    position: absolute;
    left: 0;
    top: 10px;
} */
.sidebar li{
    list-style:none;
}
.sidebar .sidenav-item a {
    display: block;
    color: #565656;
    text-decoration: none;
    padding: 15px;
}
.sidenav-active {
    background-color: #3B99FC;
    border-radius: 30px;
}
.sidebar .sidenav-active a {
    color: #fff;
}

.sidebar .sidenav-active a svg path{
    fill: #fff;
}
.right-box{
    width: calc(100% - 300px);
}
.topbar, .navbar{
    width: 100%;
    background-color: #fff;
    border: 3px solid #e4f1ff;
    padding: 10px 10px;
    position:absolute;
    top:0px;
    z-index: 8;
}
.title-login {
    font-size: 24px;
    color: #04070c;
}
.db-content-display p{
    text-align: right;
    margin-bottom:0px !important;
}
.table-hover td a{
    text-decoration: none;
}
.db-content-display, .db-content-display-login {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #d7d7d733;
    padding: 30px;
}
.db-content-display-login {
    width: 450px;
}

/* forms */
h1.login-heading{
    font-size: 20px;
    color: #04070c;
    text-align: left;
}
.db-content-display label, .db-content-display-login label {
    color: #565656;
    font-weight: 500;
    width: 100%;
    padding-top: 8px;
    text-align: left;
}
input[type=file]::file-selector-button {
    background-color: transparent;
    color: #000;
    border: 0px;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
  }
.db-content-display .card-text{
    text-align: left !important;
}
.db-content-display input, .db-content-display-login input, .db-content-display select{
    width: 100%;
    min-height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-left:15px;
    border: 1px solid #e1e5e8;
    background-color: #ebf2f8;
}
.db-content-display label:nth-child(15) input {
    border: none !important;
    border-radius: 0;
}
.db-content-display img {
    border:0px solid black;
    display: inline-block;
    padding:5px;
}
.db-content-display .icon{
    text-align: right;
}
.db-content-display .btn, .db-content-display-login .btn, .five-school-btn a {
    background:#35bfbf;
    border-radius: 10px;
    width:100%;
    border: 1px solid #35bfbf;
    font-size: 16px !important;
    margin: 20px 0;
    min-height: 45px;
}
.five-school-btn a {
    width: 18.5%;
    text-align: center;padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 0 10px; 
}
.db-content-display .school-detail-sec img {
    padding: 0 8px 0 0;
}
.school-detail-sec h5, .parent_profile_card h5{
    font-size: 28px;
    text-transform: capitalize;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
}
.five-school-btn a img {
    height: 30px;
    padding: 0 5px;
}
.db-content-display .btn:hover {
    color: #00204e;
    background-color: transparent;
}
p.logo.pb-2, hr{
    display: none;
}
@media (max-width: 1240px) {
    
    .five-school-btn {
        justify-content: flex-start !important;
        gap: 1.25%;
    }
    .five-school-btn a {
        width: 32.5%;
    }
}
@media (max-width: 768px) {
    .five-school-btn a {
        width: 49%;
    }
    .right-box {
        width: 100%;
    }
    .sidebar{
        position: absolute;
        left: -100%;
    }
}

.messagearea{
    border:0px solid red;
    width:100%;
}
.left_side{
    height:100vh;
}
.allMessages{
    height:400px;
    width:100%;
    overflow: auto;
    padding: 5px 30px ;
}
.chat-message{
    /* border: 1px solid red; */
    width: 75%;
    margin-bottom: 10px;
    padding: 15px 8px;
    position: relative;
}
.chat-message .msg_time {
    position: absolute;
    right: 8px;
    bottom: 2px;
    font-size: 10px;
}

.inputArea_chatbox {
    position: relative;
}
.inputArea_chatbox img {
    position: absolute;
    right: 5px;
    bottom: 08px;
}

.parent_profile_card {
    max-width: 400px;
}
.parent-child-btn a{
    font-size: 16px;
    padding: 5px 20px 5px 25px;
}
.parent-child-btn img{
    width: 18px;padding: 0;
    padding-bottom: 5px;
}