*{
  padding:0;
  margin:0;
}
body {
  background-color: #edf6ff;
}
.container-fluid, .login{
  text-align: center;
}
.fullWidth{
  width: 100% !important;;
}
.section{
  border:1px solid #3B99FC;
  height:150px;
  padding:10px;
  text-align: center;
  background-color: #3b99fc;
  color:white;
  font-size:20px;
  border-radius: 5px;
  text-decoration: none;
}
.section:hover{
  background-color:#000 ;
  color:#fff;
}
.green{
  background-color:#025f22 !important;
}
.red{
  background-color:#df3405 !important;
}
.yellow{
  background-color:#d1dc09 !important;
}
.checkBox{
  min-height:20px !important;
  width:20px !important;
  vertical-align: middle;
  margin-top:17px !important;
}
.fSize{
  font-size:12px !important;
}
.navMenu{
  background-color:green;
}
.container h1{
  font-size:40px;
  color:yellow;
}
.col-md-2{
  padding:0px !important;
}
.heading-section{
  color:yellow;
  margin:10px;
}
.leftSide ul{
  margin:0px;
  padding:0px !important;
  font-size:20px;
  color:white;
}
.leftSide ul li{
  list-style: none;
  border:1px solid yellow;
  padding:5px;
  margin-bottom:20px;
}
.leftSide, .rightSide{
  border:1px solid white;
  height:100vh;
}

.form-group .form-control{
  height:50px;
  font-size: 20px;
  margin-top:20px;
  margin-bottom:20px;
}
.button{
  width:100%;
  font-size:25px!important;
}
.error{
  font-size: 20px;
  color:red;
}
.heading{
  color:#3b99fc !important;
}
.reportIcon{
  border:1px solid rgb(224, 224, 224);
  margin:10px !important;
}