*{
  padding:0;
  margin:0;
}
body,html{
  background-color: rgb(3,52,133);
  color:white;
}
.container-fluid, .login{
  background-color: rgb(3,52,133);
  text-align: center;
}

.navMenu{
  background-color:green;
}
.container h1{
  font-size:40px;
  color:yellow;
}
.col-md-2{
  padding:0px !important;
}
.heading-section{
  color:yellow;
  margin:10px;
}
.leftSide ul{
  margin:0px;
  padding:0px !important;
  font-size:20px;
  color:white;
}
.leftSide ul li{
  list-style: none;
  border:1px solid yellow;
  padding:5px;
  margin-bottom:20px;
}
.leftSide, .rightSide{
  border:1px solid white;
  height:100vh;
}

.form-group .form-control{
  height:50px;
  font-size: 20px;
  margin-top:20px;
  margin-bottom:20px;
}
.button{
  width:100%;
  font-size:25px!important;
}
.error{
  font-size: 20px;
  color:red;
}